body{
    height: 10000px;
}
/*header*/
.header{
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding:0 40px;
    align-items: center;
    position: sticky;
    top:0;
    background-color: #fb4357;
}
.logo-box{
    display: flex;
    align-items: center;
}
.logo{
    height: 90px;
    
}
.bono-box{
    margin-top: 0.5rem;
    margin-left: 1rem;
    background-color: #FF689F;
    color: #E2E4E4;
    font-weight: bold;
}
.nav-list{
    display: flex;
    margin: 0;
    
}
.nav-items{
    list-style: none;
    margin: 0 0.5rem;
}
.nav-link{
    text-decoration: none;
    color: #E2E4E4;
    font-weight: bold;
}
.nav-link:hover{
    color:pink;
    background-color: black;
}

/*banner*/

.banner{
    display: flex;  
    height: 320px;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

/*content*/
.content{
  display: flex;
  width: 100%;
}

/*aside*/
.aside{
  width: 20%;
  position: sticky;
  top:0;
  padding: 1rem;
}

.aside-ul{
  margin:0;
  padding-left: 0;
}

.aside-li{
  list-style: none;
  background-color: 
}

/*movie*/
.movie{
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: #E2E4E4;
}

.card-list{
    display: flex;
    flex-direction: row;
    padding: 24px;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -2rem;
    
}

.movie-card{
    width: 300px;
    height: 500px;
    border-radius: 10px;
    margin: 0 2rem 0 0;
}

.movie-img{
    width: 300px;
    height: 400px;
    border-radius: 10px;
}

.movie-text{
    width:300px;
    height:100px;
    text-align: center;
}

/*footer*/
.footer{
    height: 40px;
    width: 100%;
    position : fixed;
    bottom : 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.footer-text{
    color: white;
    margin-top: 1rem;
}